/* CSS files add styling rules to your content */

body {
  font-family:"Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
  border-color: #800080;
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

td {
padding: 15px;

}

tbody>tr {
  text-align: center;
  background-image: url("./assets/noise.png");

}

tr:nth-child(odd) {
  background-color: #ff33cc ;
}

tr:nth-child(even) {
  background-color: #e495e4;
}

thead>tr, tfoot>tr {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  color: white;
  font-weight:bold;
  background-image: url("./assets/leopardskin.jpg") ;
}

thead {
  text-shadow: 2px 2px black;
  linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%);
}

tbody> {
  font-family: 'Helvetica Neu', sans-serif;

}
